<h2>Register</h2>

<form action="" method="post" enctype="multipart/form-data">
    <input type="text" name="name" id="" placeholder="Enter Name">
    <br>
    <input type="email" name="email" id="" placeholder="Enter Email">
    <br>
    <input type="file" name="image" required>
    <br>
    <input type="password" name="password" id="" placeholder="Enter password">
    <br>
    <input type="submit" value="Register">
</form>

<% 
   if(typeof message !== 'undefined'){
      %>
      <p style="color: aquamarine;"><%= message%></p>
      <%
   }
%>